$font-color-blue: #0a5c80;
$font-color-dark: #000000;

@use "sass:color";
@use "index.scss" as i;

@include i.page-layout;

a {
  &:visited,
  &:active,
  &:link {
    color: $font-color-blue;
  }
  text-decoration: none;
}

nav {
  $nav-row-height: 5rem;

  position: relative;

  a {
    &:first-of-type > span {
      background-color: #cde5f0;

      &:hover {
        background-color: color.scale(#cde5f0, $lightness: -5%);
      }
    }
  }

  .top-bar,
  .bottom-bar {
    min-height: $nav-row-height;
    background-color: #fff9ed;
    color: #0a5c80;
    display: flex;
    align-items: center;
    color: $font-color-blue;
  }

  .top-bar {
    justify-content: space-between;
    flex-wrap: wrap;

    .global-directory {
      $icon-height: 2.1rem;

      display: flex;
      height: 100%;
      align-items: center;

    //   color changes on hover
      svg {
        @include i.square-image($icon-height);
        margin-left: 3ch;
      }

      .logo {
        height: $icon-height;
        margin-left: 1ch;
       
      }
    }

    .login-section {
      span {
        display: inline-block;
        line-height: 5ch;
        padding: 0 2ch;
        font-size: 1.4rem;
      }
    }
  }
  .bottom-bar {
    ul {
      padding-left: 0px;
      width: 100%;
      display: flex;
      text-transform: uppercase;
      list-style: none;
      overflow: scroll;
      white-space: nowrap;
      text-align: center;
      scrollbar-width: none;
      li {
        padding: 0 3ch;
        display: inline-block;
      }
    }
  }
}

aside {
  width: 320px;
  position: absolute;
  top: 0;
//   left: -320px;
  height: 100vh;
  overflow: scroll;
  overscroll-behavior: none;
  
  table {
    width: 100%;
    border-spacing: 0;
    background-color: #f5f5f5;

    td {
      //   background-color: lightyellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
      height: 4rem;
      padding: {
        right: 1.2rem;
        left: 2rem;
      }

      img {
        @include i.square-image(1.3rem);
      }
    }
    tr {
      &:first-of-type td {
        margin: 0 auto;
        width: 92%;
        border-bottom: 1px solid #a8a8a8;
        padding: 0;

        .text {
          display: inline-block;
          width: 30ch;
        }
      }

      svg.search {
        @include i.square-image(2rem);
        margin-right: 1rem;
      }

      svg.close {
        @include i.square-image(2.5rem);
      }
    }
  }
}
