$font-color-blue: #0a5c80;
$font-bgcolor-blue: #cde5f0;
$font-color-dark: #000000;

@use "sass:color";
@use "index" as i;

@include i.page-layout;
@include i.plain-link($font-color-blue);

// * {
//   border: 1px dashed red;
// }

nav {
  $nav-row-height: 5rem;

  font: {
    family: gotham;
    size: 1.3rem;
  }

  position: relative;

  a {
    &:first-of-type > span {
      background-color: $font-bgcolor-blue;

      &:hover {
        background-color: color.scale(#cde5f0, $lightness: -5%);
      }
    }
  }

  .top-bar,
  .bottom-bar {
    min-height: $nav-row-height;
    background-color: #fff9ed;
    color: #0a5c80;
    display: flex;
    align-items: center;
    color: $font-color-blue;
  }

  .top-bar {
    justify-content: space-between;
    flex-wrap: wrap;

    .global-directory {
      $icon-height: 2.1rem;

      display: flex;
      height: 100%;
      align-items: center;

      //   color changes on hover
      svg {
        @include i.square-image($icon-height);
        margin-left: 3ch;
      }

      .logo {
        height: $icon-height;
        margin-left: 1ch;
      }
    }

    .login-section {
      span {
        display: inline-block;
        line-height: 3.5ch;
        padding: 0 2ch;
      }
    }
  }

  .bottom-bar {
    ul {
      margin: 0px;
      padding-left: 0px;
      width: 100%;
      display: flex;
      text-transform: uppercase;
      list-style: none;
      overflow: auto;
      white-space: nowrap;
      text-align: center;
      scrollbar-width: none;

      li {
        display: inline-block;
        padding: 0 3ch;
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

aside.side-nav {
  @include i.plain-link($font-color-dark);

  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  z-index: -1;
  height: 100vh;
  overflow: scroll;
  overscroll-behavior: none;
  font-family: "kepler";

  table {
    $table-color: #f5f5f5;

    width: 100%;
    border-spacing: 0;
    background-color: $table-color;

    tr {
      &:first-of-type td {
        margin: 0 auto;
        width: 92%;
        border-bottom: 1px solid #a8a8a8;
        padding: 0;

        .text {
          display: inline-block;
          width: 30ch;
        }
      }

      .icon.left {
        @include i.square-image(2rem);
        margin-right: 1rem;
      }

      svg.close {
        @include i.square-image(2.5rem);
      }

      &:hover {
        background-color: color.scale($table-color, $lightness: 60%);
      }
    }

    td {
      //  background-color: lightyellow;
      // display: flex;
      align-items: center;
      text-transform: capitalize;
      height: 3.8rem;

      padding: {
        right: 3rem;
        left: 2rem;
      }

      &:not(.other) {
        justify-content: space-between;
      }

      &.locality .text {
        width: 50%;
        display: inline-block;
      }

      &.legal {
        gap: 3ch;
      }

      .text.extend {
        @include i.image-after(
          1.3rem,
          1.3rem,
          "../assets/icons/chevron-right.png"
        );
      }
    }
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem auto 2rem;

  & > *:not(.main-content, .closing-content) {
    grid-column-start: 2;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .faded {
    opacity: 0.6;
  }

  .section-map {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    font: {
      size: 1.1rem;
      weight: lighter;
      family: gotham;
    }

    color: color-scale($font-color-blue, 30%);
  }

  .page-details {
    text-align: center;

    .page-title {
      margin: 0 auto;

      font: {
        family: kepler;
        weight: normal;
        size: 4.2rem;
      }
    }

    .slogan {
      font: {
        family: kepler;
        size: 1.94rem;
      }

      letter-spacing: 1px;
    }

    .publication-details {
      font: {
        family: gotham;
        weight: normal;
        size: 1.12rem;
      }

      display: flex;
      justify-content: center;
      align-items: baseline;
      column-gap: 2.5ch;
      letter-spacing: 1px;
      flex-wrap: wrap;
    }

    // author name is not going black
    .author {
      font-style: normal;
      color: #000000 !important;

      &:before {
        content: "";
        background: url("../assets/img/author-pp.jpg");
        display: inline-block;
        height: 45px;
        width: 45px;
        background-size: contain;
        border-radius: 50px;
        vertical-align: middle;
      }
    }

    .pub-date {
      margin: 0px;
    }

    .bookmark {
      margin-top: 2.8rem;
      background-color: $font-bgcolor-blue;
      color: $font-color-blue;
      padding: 0.9rem 2rem;

      &:before {
        content: "";

        background: {
          image: url("../assets/icons/bookmark.svg");
          size: contain;
          repeat: no-repeat;
        }

        display: inline-block;
        height: 25px;
        width: 25px;
        vertical-align: middle;
      }
    }

    .introduction {
      text-align: left;
      letter-spacing: 0.5px;
      line-height: 3rem;

      font: {
        family: "charter", sans-serif;
        size: 1.8rem;
      }
    }
  }

  .main-content {
    grid-column: 1 /-1;
  }

  .dog-card {
    $text-indent: 2ch;

    display: grid;
    grid-template-columns: $text-indent auto $text-indent;
    width: 100%;

    h2,
    h3 {
      text-align: center;
      margin: 0px;
      grid-column: 1 / -1;

      font: {
        family: kepler-medium;
        weight: lighter;
      }
    }

    h2 {
      font-size: 6.77rem;
    }

    h3 {
      font-size: 2.65rem;
    }

    p,
    .bio-specs {
      grid-column: 2 / 2;

      font: {
        family: "charter";
        size: 1.85rem;
      }
    }

    p {
      line-height: 3rem;
      margin: 0px;
    }

    .bio-specs {
      margin: {
        top: 2.5rem;
        bottom: 4.3rem;
      }

      span {
        font-weight: bold;
        margin-right: 1ch;
      }
    }

    figure {
      grid-column: 1 / -1;
      width: 100%;

      margin: {
        left: 0px;
        right: 0px;
        bottom: 0px;
      }

      img {
        width: 100%;
      }

      figcaption {
        font: {
          family: gotham;
          weight: lighter;
          size: 1.15rem;
        }

        color: #6f6f6f;
        background-color: rgba(225, 225, 225, 0.85);
        width: max-content;
        padding: 0rem 1.4rem;
        line-height: 3rem;
        position: relative;
        top: -4.05ch;
      }
    }
  }

  .closing-content {

    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: auto 2rem;

    .pointer-on-hover:hover {
      cursor: pointer
    }

    & > *:not(.comments) {
      grid-column: 1;
    }

    .sign-up {
      font-family: "kepler";
    }

    hr {
      border: 0px;
      border-bottom: 1px solid black;
      margin-bottom: 2.15rem;

      &.dull-line {
        border-color: rgba(0, 0, 0, 0.15);
        &:nth-last-child(n - 2){
          margin-bottom: 1.6rem;
        }

        &:last-of-type {
          margin-top: 5.8rem;
        }
      }
    }

    h4 {
      font: {
        weight: lighter;
        size: 2.68rem;
      }

      margin: 0px;
    }

    .subscribe {
      font-size: 1.66rem;

      margin: {
        top: 1rem;
        bottom: 2.2rem;
      }
    }

    // input:hover {
    //   cursor: not-allowed;
    // }

    input[type="email"] {
      height: 4.8rem;
      width: 100%;
      border: 1px #c9c7cc solid;

      font: {
        family: "gotham";
        size: 1.24rem;
      }

      color: #414141;
      padding-left: 4ch;

      background: {
        image: url("../assets/icons/email-icon.svg");
        repeat: no-repeat;
        position-y: center;
        position-x: 1ch;
        size: 4%;
      }
    }

    input[type="submit"] {
      color: $font-color-blue;

      font: {
        family: "gotham";
      }

      border: none;
      background-color: $font-bgcolor-blue;
      padding: 1ch;
      margin: 1ch 0ch;
      width: 30%;
      display: inline-block;
      white-space: normal;
      border-radius: 5px;
    }

    input:focus {
      outline: none;
    }

    // make plain-link accept scss function to determine underline
    .terms {
      @include i.plain-link(#696969);

      a {
        text-decoration: underline;
      }

      font-size: 1.23rem;

      margin: {
        top: 0px;
        bottom: 2.2rem;
      }
    }
  }

  // Intentionally designed comments section to offset to the right, as seen on to original webpage. My aim is to produce a replica.
  .comments-section {
    $grey-bghighlight: #eaeaea;

    @include i.plain-link(#000000);

    grid-column: 1 / -1;
    position: relative;
    font-family: Arial;

    ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          margin: 0;
          list-style: none;
        }


    h4,
    h4 + p {
      font: {
        weight: bold;
        size: 2.23rem;
      }

      color: #373e44;
      display: inline-block;

      margin: {
        top: 2.85rem;
        bottom: 0.8rem;
      }
    }

    h4 + p {
      font: {
        size: 1.5rem;
      }

      color: rgba(55, 62, 68, 0.75);
      margin-left: 0.7ch;
    }

    input[type="text"] {
      display: block;
      height: 9rem;
      border: 1px #c9c7cc solid;
      /*This was duplicated. Not very DRY*/
      width: 100%;
      border-radius: 5px;
      margin: 2.9rem 0 0.8rem;

      padding: {
        left: 2rem;
        right: 2rem;
        top: 2rem;
        bottom: 6rem;
      }

      font-size: 1.57rem;
    }

    .comment-input-icons {
      position: absolute;
      top: 18rem;
      right: 2rem;
      display: flex;
      gap: 1.5ch;
    }

    // Need to find a way to format title attributes
    .icon {
      height: 20px;
      width: 20px;
      fill: #a8a8a8;

      &:hover {
        fill: #0048ff;
        cursor: pointer;
      }
    }

    input[type="submit"] {
      $submit-bgcolor: #2778ce;

      background-color: $submit-bgcolor;
      color: white;

      font: {
        weight: bold;
        size: 1.5rem;
      }

      display: block;
      margin-left: auto;
      margin-right: 2px;
      width: max-content; //13rem;

      &:hover {
        background-color: color.scale($submit-bgcolor, $lightness: -25%);
        cursor: pointer;
      }
    }

    .comments {
      $section-main-size: 1.4rem;
      $section-icon-size: 1.7rem;

      font-size: $section-main-size;

      .sort {
        margin-bottom: 2.3rem;
        width: max-content;
        padding-right: 2.5ch;
        @include i.image-after(
          1.2rem,
          1.2rem,
          "../assets/icons/down-chevron.png"
        );
      }

      .content {
        & > * {
          line-height: 2.4rem;
          margin: 0 0 0 1ch;
        }

        & > p:first-of-type {
          @include i.image-after(
            1.2rem,
            1.2rem,
            "../assets/icons/ellipsis.svg"
          );
          &::after {
            opacity: 0.5;
          }
          // background-color: yellow;
        }

        time {
          font-size: 1.3rem;
        }

        .italic.faded {
          margin-left: 1ch;
        }
      }

      .reply {
        width: 19rem;
        margin-bottom: 4px;

        li {
        border: {
            width: 0 4px;
            style: solid;
            color: transparent;
          }
          border-radius: 4px;
        }


        li:hover {
          cursor: pointer;
          background-color: $grey-bghighlight;
          border-color: $grey-bghighlight;
        }

        .dot {
          height: 3px;
          width: 3px;
          background-color: rgb(180, 180, 180);
          display: block;
        }
      }

      .upvote,
      .downvote {
        @include i.image-before(
          $section-icon-size,
          $section-icon-size,
          "../assets/icons/thumbs-up.svg"
        );
        padding-left: 2.55ch;
      }

      .downvote::before {
        transform: rotate(180deg) translateY(50%);
      }

      .sub-reply {
        @include i.image-before(
          calc($section-icon-size - 5px),
          calc($section-icon-size - 5px),
          "../assets/icons/curved-arrow.svg"
        );
        padding-left: 2.6ch;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .comments-sponsor {
      font-size: 1.23rem;
      display: flex;
      justify-content: space-between;

      ul{
        justify-content: space-between;
        gap: 1ch;
      }

      li {
        display: inline-block;
        &.feedback {
          cursor: pointer;
        }
      }

      .info li:hover {
        text-decoration: underline;
      }

      svg {
        height: 1.5rem;
        vertical-align: middle;
        &:last-of-type{
          height: 1.25rem;
        }
      }
    }
  }
}
