@mixin plain-link ($color) {
  a {

    &:visited,
    &:active,
    &:link,
    &:hover,
    &:focus {
      color: $color;
    }
    color: $color;

    text-decoration: none;
    text-underline-offset: unset;
  }
}